/*
 *覆盖基础属性
 */
.weui-tabbar__item.weui-bar__item_on .weui-tabbar__icon, .weui-tabbar__item.weui-bar__item_on .weui-tabbar__icon>i, .weui-tabbar__item.weui-bar__item_on .weui-tabbar__label {
    color: #F56617;
}
.weui-loadmore_line{border-top:1px solid #FF822E;}
.weui-loadmore_line .weui-loadmore__tips{color:#FF822E;background-color:#f8f8f8;}
.weui-btn{border-radius:40px;}
.weui-switch-cp__input:checked~.weui-switch-cp__box, .weui-switch:checked{border-color: #ec4f02;background-color: #ec4f02;}
/*
 *  common
 */
.weui-cells_none{background-color:inherit;}
.weui-cells_none:after, .weui-cells_none:before {content: none;}
/*基础色*/
.text-base_light{color:#FF822E}
.text-base_mid{color:#F56617}
.text-base_dark{color:#EC4F02}
.text-black{color:black;}
.text-primary{color:#1aad19;}
.text-danger{color:#E64340;}
.text-warn{color:#FFBE00;}
.text-blue{color:#1E89E0;}
.text-mute{color:#c7c7c7;}
.text-muted{color:#999;}
.text-white{color:#fff;}
/*order status*/
.text-new{color:#3F51BB}
.text-unpaid{color:#E51C23}
.text-processing{color:#3CA63A}
.text-success{color:#085C06}
.text-cancelled{color:#A7A8A7}
.text-delete{color:#999}
/*基础背景色*/
.bg-base_light{background-color:#FF822E;}
.bg-base_mid{background-color:#F56617;}
.bg-base_dark{background-color:#EC4F02;}
.bg-base_dl{background: linear-gradient(to right,#EC4F02,#FF822E);}
.bg-base_ld{background: linear-gradient(to right,#FF822E,#EC4F02);}
.weui-btn_base{background: linear-gradient(to right,#FF822E,#EC4F02);}
.weui-btn_base_dl{background: linear-gradient(to right,#EC4F02,#FF822E);}
.weui-btn_plain-base{color: #F56617;border: 1px solid #F56617;}
/*fonnt-size*/
.f_08{font-size:0.8em !important;}
.f_1{font-size:1em}
.f_13{font-size:1.3em}
.f_15{font-size:1.5em}
.f_2{font-size:2em}
/*margin*/
.margin-top_50{margin-top:50%;}
.margin-t-b-40{margin:40px auto;}
.weui-cell.padding-t{padding:50px 10px}
/*text-align*/
.text-center{text-align:center;}
.text-right{text-align:right;}
.text-left{text-align:left;}
/*display*/
.hide{display:none;}
.show{display:block;}
.center-block{display:block;margin:0px auto}

.weui-cell__bd{padding-left:10px}
.weui-cells_top0{margin-top:0em}

/*main.blade.php*/
.bottom-main{position: fixed;bottom:0px}
/*
 *Home
 */
.merchant-list-top .item-food-type{margin:5px;padding:5px 10px;border:1px solid #999;display:inline-block;border-radius:7px;color:#999}
.merchant-list-top .item-search{width:70%;margin:5px;padding:5px 10px;border:1px solid #999;display:inline-block;color:#999}
.merchant-list-top .item-search i{position:absolute;right:15px;top:15px}
.merchant-list::before{content:none}
.merchant-list-top::after{content:none}
.merchant-list .weui-flex{margin:8px auto}
.merchant-list .weui-loadmore_line .weui-loadmore__tips {background-color:#fff;}
/*
 * Mercahnt mercahnt
 */
.shopping-cart{position: fixed;width: 40px;height:40px;border:1px solid #586c94;border-radius:40px;bottom:125px;right:2px;}
.shopping-cart .fa{position: absolute;top: 8px;left: 6px;color:#586c94;font-size:1.6em}
.shopping-cart .weui-badge{position: absolute;top: -0.5em;right:-0.2em;}
.back-to-top{position: fixed;width: 50px;height:50px;bottom:125px;left:0px;font-size:3em;color:#FF822E;z-index:999;}
.list-items{padding:10px}
.list-items .weui-flex__item{margin:10px;background-color:#fff;box-shadow:0 0 10px #c0bfc4}
.list-items .weui-flex__item.item_none{margin:10px;background-color:transparent;box-shadow:none}
.list-items .list-item{padding:10px 15px}
.list-items .item-favourite{font-size:1.5em}
.list-item .item-name{font-size:1.3em}
.list-item .item-desc{font-size:0.8em;color:#ccc}
.list-item .item-cart div:nth-child(1){display:inline-block;width:48%;font-size:1.3em;}
.list-item .item-cart div:nth-child(2){display:inline-block;width:48%;font-size:1.5em;}
/*
 * Merchant Details
 */
.item-details{background-color:#fff;padding-top:20px;box-sizing: border-box;height: 100%;padding-bottom: 150px;overflow: auto;-webkit-overflow-scrolling: touch;}
.item-details-mid{border:1px solid #ccc;border-radius:10px;box-shadow:0 0 20px #ccc}
.item-details-mid .item-img{border-bottom:1px solid #ccc}
.item-details-mid .item-img .weui-flex__item{padding:40px}
.item-details-mid .item_prev{position:absolute;left:0px;top:126px;color:#F56617;font-size:2em}
.item-details-mid .item_next{position:absolute;right:0px;top:126px;color:#F56617;font-size:2em}
.item-details-mid .item-name{font-size:1.3em;text-align:center;margin:5px}
.item-details-mid .item-desc{font-size:1em;text-align:center;margin:5px}
.item-details-mid .item-price{font-size:1.5em;text-align:center;margin:5px;font-weight:700}
.item-details-bot{padding:10px 0px;position:fixed;width:100%;bottom:0px;background-color:#fff;z-index:99999}
.item-details-bot .weui-cells::before,.item-details-bot .weui-cells::after{content:none}
.item-details-bot .item-favourite .weui-cell{height:46px;font-size:1.2em;}
.item-details-bot .item-favourite .weui-cell div{width:45px;height:45px;border-radius:50px;border:1px solid #F56617;}
.item-details-bot .item-favourite i{position:absolute;top:26px;left:28px;color:#F56617}
.item-details-bot .item-share .weui-cell div{width:45px;height:45px;border-radius:50px;border:1px solid #F56617;}
.item-details-bot .item-share .weui-cell{height:46px;font-size:1.2em;}
.item-details-bot .item-share i{position:absolute;top:26px;right:28px;color:#F56617}
.item-details-bot .item-cart .weui-btn{padding-left:24px;padding-right:24px;}
/*
 *Merchant combo
 */
.list-combo .list-item{border-radius: 15px;box-shadow: 0 0 15px #ccc;}
.list-combo .subtotal{border-radius: 15px;border:2px dashed #ccc;}
.list-combo .list-item-price{padding: 0 20px 0px 15px;}
.list-combo .list-item-price>span{display:inline-block;width:80px;}
.list-combo .list-item-num span{ font-size:1em;display:inline-block;border:1px solid #ddd;width:35px;border-radius:7px;text-align:center;}
.list-combo .list-item-num i{ font-size:1.3em;margin:0px 5px;color:#F56617;position:relative;top:2px}
.package_order{position:fixed;bottom:60px;width:92%;z-index:999;}
.combo_hide_height{height:70px}
/*
 *Order Lists
 */
.order-list-top{padding-left:15px;padding-right:3px}
.order-list-top::after{content:none;}
.order-lists::before{content:none;}
.order-lists p{margin:5px auto;}
.order-list-top .item-top-status{margin:5px;padding:5px 10px;border:1px solid #999;display:inline-block;border-radius:7px;color:#999}
/*.order-list-top .item-top-date{margin:5px;padding:5px 10px;border:1px solid #999;display:inline-block;border-radius:7px;color:#999}*/
.order-list-top .item-top-date{margin:5px;padding:5px 10px;display:inline-block;border-radius:7px;color:#999}
/*
 *Order Details
 */
.order-details-container{box-sizing: border-box;height: 100%;padding-bottom: 100px;overflow: auto;-webkit-overflow-scrolling: touch;}
.order-details{border-radius: 15px;border:1px dashed #ccc;box-shadow: 0 0 15px #ccc;}
.order-details .weui-cell__ft span{display:inline-block;width:75px;}
.order-details .order-note{word-break:break-word;text-indent:2em}
.order-details .item_qrcode svg{display:block;margin:0px auto;}
.order-details .weui-cell::before{border-top:none}
.want-tip{width:95%;position: fixed;bottom: 5px;left:2.5%;z-index:999}
.order-details .item_last::after{
    content: " ";
    position: absolute;
    left: 5px;
    bottom: 0;
    right: 5px;
    height: 1px;
    border-bottom: 1px dashed red;
    color: #e5e5e5;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: scaleY(.5);
    transform: scaleY(.5);
    z-index: 2;
}
.order-details .item_total{font-weight:900}
.order-details .item_total::after,.order-details .note-order::after{
    content: " ";
    position: absolute;
    left: 0px;
    bottom: 0;
    right: 0px;
    height: 1px;
    border-bottom: 1px solid black;
    color: #e5e5e5;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: scaleY(.5);
    transform: scaleY(.5);
    z-index: 2;
}
/*
 * user
 */
.user-info .weui-cell_access .weui-cell__ft::after{border-color:#fff}
/*
 *wallet
 */
.user-wallet{box-sizing: border-box;height: 100%;overflow: auto;-webkit-overflow-scrolling: touch;padding-bottom: 50px}
.user-wallet .weui-cells::before,.user-wallet .weui-cells::after{content:none}
.user-wallet .user-card{width:100%;border-radius:10px;}
.user-wallet .card-list{padding:0px 15px}
.user-wallet .card-list i{position:absolute;top:14px;right:8%;font-size:1.5em}
.user-wallet .user-card img{width:100%}
.user-wallet .user-card .card_num{position:absolute;top:45%;left:70%;font-size:0.8em;color:#fff}
.user-wallet .card-add{margin:0px 6px;height:140px;line-height:140px;width:100%;border-radius:10px;background-color:#F3F3F3}
.user-wallet .card-add i{font-size:2em;position:relative;top:4px}
/*
 *user wallet_add
 */
.user-wallet-add{box-sizing: border-box;height: 100%;overflow: auto;-webkit-overflow-scrolling: touch;}
.user-wallet-add .weui-cells::before,.user-wallet-add .weui-cells::after{content:none}
.user-wallet-add-inputs .weui-cells__title{margin-top:1.77em}
.user-wallet-add-inputs .weui-cells{box-shadow:0px 4px 5px #ccc}
.user-wallet-add-inputs .add-card{margin-top:3em}

/*
 *shopping cart
 */
.dine-take{margin-top:1.17647059em}
.dine-take .weui-flex__item:nth-child(2){margin-left:10%;}
/*左滑动删除css*/
.slidelefts {height: 100%;padding:0px;border-bottom: 1px solid  #eee;}
.slidelefts>.weui-cell__bd {height: auto;overflow: hidden;position: relative;z-index: 10;background-color: #fff;padding: 10px 15px;}
.weui-cell>.weui-cell__bd.animated {-webkit-transition: -webkit-transform .2s ease-out;transition: transform .2s ease-out;}
.weui-cell .slideleft {height: 100%;display: -webkit-box;-webkit-box-pack: center;-webkit-box-align: center;position: absolute;top: 0;right: 0;z-index: 0;}
.weui-cell .slideleft span {height: 100%;padding: 0 10px;display: -webkit-box;-webkit-box-pack: center;-webkit-box-align: center;}
.slidelefts>.weui-cell__bd .weui-cell__bd{padding-left:0px}
.slidelefts .weui-cell{padding:0px}
